/* globals */
:root {
    --main-color: #06283D;
    --secondary-color: #DFF6FF;
    --accent-color: #47B5FF;
    --extra-color: #256D85;
}

body {
    background-color: var(--main-color);
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
}

h1 {
    font-size: 40px;
    color: var(--accent-color);
}

.header-image {
    width: 130px;
    height: 130px;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.profile {
    float: left;
}

.name {
    margin-top: 1.9em;
    margin-left: 1em;
    float: right;
}

/* nav bar */
.nav-bar ul {
    display: flex;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 0 2em 0;
}

.nav-bar ul li {
    color: var(--accent-color);
    margin-top: 3em;
    margin-right: 1.5em;
    float: right;
}

.nav-bar ul li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}

.nav-bar ul li a:hover {
    color: #256D85;
}

.nav-bar ul li a:visited {
    color: grey;
}

/* main section */
.section {
    margin: 5rem;
}

.about p {
    text-align: left;
    padding: 1em;
    border-top: 4px solid white;
    padding-left: 50px;
    font-size: 2em;
    line-height: 1.5em;
}

.section-heading {
    padding: 32px 0;
    text-align: center;
    font-size: 3em;
    min-width: 5.5em;
    color: var(--accent-color);
}

.work-pic {
    width: 100%;
    border-top: 4px solid white;
}

.work-pic img {
    padding: 16px 16px;
    max-width: 500px;

}

.work-pic img:hover {
    transform: scale(1.2);
}

.group-project {
    color: var(--secondary-color);
    margin-bottom: 16px;
    padding-bottom: 16px;
    right: 60px;
}

/* .label {
    flex-direction: row;
}

.first-item {
    display: flex;
    flex-direction: column;
} */

/* contact me */
#footer {
    font-size: 1.5rem;
    width: 100%;
    justify-content: center;
    line-height: 2rem;
    margin-bottom: 3rem;
}

#footer h2 {
    color: var(--accent-color);
    font-size: 3rem;
    line-height: 4rem;
}


span[data-desc] {
    position: relative;
    text-decoration: underline;
    cursor: pointer;
}

span[data-desc]::hover::after {
    content: attr(data-desc);
    display: block;
    z-index: 1;
    position: absolute;
    left: 0;
    background-color: var(--accent-color);
    border: 1px solid white;

}

/* media query */


@media screen and (max-width: 992px) {
    .work-pic img {
        padding: 16px 0;
        max-width: 800px;
    }
}

@media screen and (max-width: 768px) {
    .work-pic img {
        padding: 16px 0;
        max-width: 500px;
    }
}
